body{
	margin:0px 0px 20px 20px;
	padding:0;
	font-family: 'Arial', sans-serif;
}

#header{
	margin-top:40px;
	height:80px;
}
h1{
	float:left;
	margin:0;
	padding:0;
}

#menu
{
	
	margin:0;
	margin-top:15px;
	padding:0;
	display:block;
	list-style-type:none;
	float:left;
}

#menu li
{
	display:inline;
	
}
#content{

clear:both;
}
.event_preview
{
	width:100%;

}
.image_container
{
	width:30%;
	float:left;
	margin:10px;
}
#frame_list
{
	margin:0;
	padding:0;
overflow-y: hidden ! important; overflow-x: auto ! important;
white-space:nowrap;
text-align:center
}
#frame_list li
{

display:inline;

}
.frame_event_preview
{
	height:100px;
	margin:5px;
}
video{
width:640px;
height:360px;
}
#video{
		text-align:center;
}
#footer{
	clear:both;
}

