* {
margin: 0;
}
html, body {
height: 100%;
}
body{
	margin-left:10px;
	margin-right:10px;
	padding:0;
	font-family: 'Verdana', sans-serif;
	font-size:70%;
	background-image:url('noiselines.png');

}
#container {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -150px;
}
h1,h2,h3{
	padding:0;
	margin:0;
}


#header{
	padding-top:10px;
	height:80px;

}
#content{
background:white;
clear:both;
	}
h1{

}

#options_menu{

padding-top:10px;
padding-bottom:10px;
}


#header #menu
{
	list-style-type:none;
	margin:0;
	margin-top:15px;
	padding:0;
	display:block;
	float:left;
}

#header  #menu li
{
	display:inline;
}


#event_preview_container{


}
.detail_list
{

}
.event_preview
{
	width:100%;
}
.image_container
{
	width:30%;
	float:left;
	margin-right:10px;
	margin-bottom:10px;

}
#frame_list
{
	margin:0;
	padding:0;
	overflow-y: hidden ! important; overflow-x: auto ! important;
	white-space:nowrap;
	text-align:center;
}
#frame_list li
{

display:inline;

}
.frame_event_preview
{
	height:100px;
	margin:5px;
}
video{
width:640px;
height:360px;
}
#video{
		text-align:center;
}


#footer{
	clear:both;

}
#footer, .push {
height: 150px;
}
#footer_credits,#footer_desc,#footer_menu{
	width:30%;
	float:left;
	margin-right:10px;


}

#footer_desc{

}
#footer_credits{
}
#footer_menu{
}