body{
	margin:0;
	margin-top:10px;
	padding:0;
	font-family: 'Verdana', sans-serif;
	font-size:80%;
	background-image:url('../images/retro_intro.png');

	color:#555;
}
h1,h2,h3{
	margin:0;
	padding:0;
}

/* Main Sections */
#header,#content,#footer{
	width:940px;
	margin-right:auto;
	margin-left:auto;
	background:white;
	padding:10px;
	margin-bottom:10px;


    box-shadow: 3px 3px 7px #999;
    -moz-box-shadow: 3px 3px 7px #999;
    -webkit-box-shadow: 3px 3px 7px #999;
}
}
#header{
}
#content{
	clear:both;
}
#container{

}
#footer{
	clear:both;
}

/* Header */
#header h1{
	float:left;
	margin-top:-5px;
	margin-right:10px;
}
#header #menu
{
	padding-left:10px;
	list-style-type:none;
	margin:0;
	padding:0;
}
#header  #menu li
{
	display:inline;
}
#header  #menu li a, .link_button {
-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5f5f5), color-stop(1, #ebebeb) );
	background:-moz-linear-gradient( center top, #f5f5f5 5%, #ebebeb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ebebeb');
	background-color:#f5f5f5;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#444;
	font-size:12px;

	padding:4px 20px;
	text-decoration:none;
}
#header  #menu li a:hover, .link_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ebebeb), color-stop(1, #f5f5f5) );
	background:-moz-linear-gradient( center top, #ebebeb 5%, #f5f5f5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#f5f5f5');
	background-color:#ebebeb;
}
#header  #menu li a:active,.link_button:active {
	position:relative;
}

/* Content */
#content h2{
	display:inline-block;
	margin-right:10px;
	margin-bottom:10px;
}
.filter_button{
	margin-top:-10px;
	color:#999;
	font-weight:normal;
	font-size:10px;
	padding:2px 10px;
	margin-top:-10px;


}
.clear{
	clear:both;
}
.event_preview_container{
	width:940px;
	clear:both;
}
.event_preview
{
	width:100%;
}
.image_container
{
	width:303px;
	float:left;
	margin-right:5px;
	margin-left:5px;
	margin-bottom:10px;
}
.detail_list{
	list-style-type:none;
	background:#efefef;
	margin:0;
	padding:10px;
	border:1px solid #ddd;
	font-size:11px;
	position:relative;
	clear:both;
	min-height:38px;

}
.detail_list li{



}
.detail_list li a{
	text-decoration: none;
	margin-bottom:5px;
}
.length_detail, .camera_detail, .date_detail, .frames_detail, .save_detail{
	text-indent: -9999999px;
	display:inline-block;
	height:20px;
	margin-right:5px;
	width:18px; 
}
.length_detail{
	background:url('../images/clock.gif') no-repeat;
}
.camera_detail{
	background:url('../images/camera.gif') no-repeat;

}
.date_detail{
	background:url('../images/calendar.gif') no-repeat;
}
.save_detail{
	background:url('../images/floppy.gif') no-repeat;

}

.frames_detail{
	background:url('../images/film.gif') no-repeat;

}
/*
.frames_item{
	position:absolute;
	right:45%;
}
.camera_item{
	position:absolute;
	right:10px;
}
.length_item{
	position:absolute;
	left:10px;
}
*/
/* Content events page */


.event_preview
{
	width:100%;
}
#frame_list
{

	margin:0;
	padding:0;
	overflow-y: hidden ! important; overflow-x: auto ! important;
	white-space:nowrap;
	text-align:center;
}
#frame_list li
{

display:inline;

}
.frame_event_preview
{
	height:100px;
	margin:5px;
}

#video{
	width:640px;
	margin-right:auto;
	margin-left:auto;
}
#video-details{
	width:618px;
	margin-top:43px;
	margin-right:auto;
	margin-left:auto;
	text-align:left;
}

#video_object{
	margin-right:auto;
	margin-left:auto;
	width:640px;
	height:360px;
}
/* Options Menu */

#options_menu{
	text-align:center;
	background:#FDFFD4;
	margin:10px;
	padding:10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

/* Footer */
#footer{
font-size:90%;
color:#888;
}
#footer a{

}
#footer_desc, #footer_menu, #footer_credits{
	width:303px;
	float:left;
	margin-right:5px;
	margin-left:5px;

}
#footer_desc{
}
#footer_menu{
}
#footer_credits{
}